<% content_for :head do %>
  <title>Verified trends, actual news, genuine reviews</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <meta property="og:title" content="Verified trends, actual news, genuine reviews">
  <meta property="og:description" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= root_url %>">
  <meta property="og:image" content="">

  <meta name="twitter:card" content="summary_large_image">

  <link rel="canonical" href="<%= root_url %>">
<% end %>