<section class="hero is-fullheight is-primary is-bold">
  <div class="hero-body">
    <div class="container is-flex is-justify-content-center">
      <div class="content is-large">
        <h1>
          We permanently collect actual, trending, best articles, news, <span class="has-text-link">Info</span>,
          reviews for you.
        </h1>
        content has-text-centered<br>
      </div>
    </div>
  </div>
</section>