<%= render "head_content" %>

<section class="hero is-fullheight is-primary is-bold">
  <div class="hero-body">
    <div class="container is-flex is-justify-content-center">
      <div class="content is-large">
        <h1>
          We permanently select only trending, verified, genuine, articles, news, reviews, videos, and so on.
        </h1>
        Be with us, be in good company ;)
      </div>
    </div>
  </div>
</section>
